<title>Dashboard - inGallery</title>
<%- layout('layout/userBoilerplate') %>

<div class="bodyContainer">
  <%-include('../../partials/sideBar') %>
  <div class="imgSection">
    <div class="topBar">
      <h1><i class="fa-solid fa-images"></i> My Photos</h1>
      <a href="/user/upload" id="topBtn"
        ><button
          id="<% if(currentPage === '/user/upload'){ %>buttonActive<% } %>"
        >
          <i class="fa-solid fa-plus"></i> New
        </button>
      </a>

      <div class="controlIcons">
        <ul>
          <li><%= numberOfImgs %> Photos</li>
        </ul>
      </div>
    </div>
    <div class="imageContainer">
      <% if (userDetails.uploadedImages.length) { %> <%
      userDetails.uploadedImages.forEach(function (img) { %>
      <div class="img" id="singleImg">
        <a href="/user/dashboard/<%= img._id %>">
          <img src="<%= img.img.url %>" alt="<%= img.img.filename %>" />
        </a>
      </div>
      <% }); %> <% } %>
    </div>
  </div>

  <% if (!imgDetails.length) {%>
  <div class="noImg">
    <h1>No image added yet</h1>
    <p>click here to upload image !!</p>
    <a href="/user/upload" id="floatBtn"
      ><button
        id="<% if(currentPage === '/user/upload'){ %>buttonActive<% } %>"
      >
        <i class="fa-solid fa-square-plus"></i> New
      </button>
    </a>
  </div>
  <% } %>
</div>

<script>
  function downloadImage(url, filename) {
    fetch(url)
      .then((response) => response.blob())
      .then((blob) => {
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = filename;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      })
      .catch((err) => console.error("Error downloading the image:", err));
  }
</script>
