<title>Dashboard - inGallery</title>
<%- layout('layout/userBoilerplate') %>

<div class="bodyContainer">
  <h1>User Dashbaord</h1>
  <h1><%= user.username %></h1>
  <h4><%= user.email %></h4>
  <h1><%= currentPage %></h1>
</div>

<% if (imgDetails.length) { %> <% for (let img of imgDetails) { %>
<img src="<%= img.url %>" alt="<%= img.filename %>" />
<p><%= img.filename %></p>
<% } %> <% } else { %>
<p>No image added</p>
<% } %> <% if (!imgDetails.length) {%>

<h1>No image added yet</h1>
<p>click year to upload image</p>
<a href="/user/upload"><button>Upload Image</button></a>
<% } %>
