<title>Dashboard - inGallery</title>
<%- layout('layout/userBoilerplate') %>

<div id="imgPreview">
  <div class="topBar">
    <div class="controlIcons">
      <ul>
        <div class="first">
          <a href="/user/dashboard"
            ><button class="noBackground">
              <i class="fa-solid fa-circle-arrow-left"></i></button
          ></a>
          <h1><%= imgs.img.filename %></h1>
        </div>

        <div class="icons">
          <li>
            <button
              class="noBackground"
              id="noPadding"
              onclick="downloadImage('<%= imgs.img.url %>', '<%= imgs.img.filename %>')"
            >
              <i class="fa-solid fa-circle-down"></i>
            </button>
          </li>
          <li>
            <a href="/user/dashboard/edit/<%= imgs._id %>">
              <button id="noBackground">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </a>
          </li>
          <li>
            <button id="noBackground" class="deleteBtn">
              <i class="fa-solid fa-trash" id="delete"></i>
            </button>

            <div class="deletePopup">
              <div id="popUpContent">
                <img src="<%= imgs.img.url %>" alt="<%= imgs.img.filename %>" />
                <div id="imgInfo">
                  <h2>Image Info:</h2>
                  <h3>
                    Created Date:
                    <p>
                      <%= moment(imgs.createdAt).format("MMMM Do YYYY,h:mm A")
                      %>
                    </p>
                  </h3>
                  <h3>
                    Filename:
                    <p><%= imgs.img.filename %></p>
                  </h3>
                </div>

                <h1>Are you sure you want to DELETE this image?</h1>
                <h3>
                  NOTE:
                  <p>
                    Image will be deleted permanently and it will Unpublish if
                    Published
                  </p>
                </h3>
                <div class="btns">
                  <a href="#" id="deleteCloseBtn">No</a>
                  <a
                    href="/user/dashboard/<%= imgs._id %>/delete?_method=DELETE"
                    method="POST"
                    id="deleteYesBtn"
                    ><i class="fa-solid fa-trash" id="deleteIcon"></i>Yes</a
                  >
                </div>
              </div>
            </div>
          </li>
        </div>

        <li id="publish">
          <% if (isPublished){ %>
          <button id="isPublished" disabled>
            <i class="fa-solid fa-circle-check"></i>Published
          </button>
          <% } else {%>
          <button id="publishBtn" class="popUpBtn">
            <i class="fa-solid fa-cloud-arrow-up"></i>Publish Image
          </button>
          <% } %>

          <div class="popUpBox">
            <div class="publishContent" id="popUpContent">
              <img src="<%= imgs.img.url %>" alt="<%= imgs.img.filename %>" />
              <h3>Filename: <%= imgs.img.filename %></h3>
              <h2>Do you wish to publish this image to Web?</h2>
              <div class="btns">
                <a href="/user/dashboard/<%= imgs._id %>/publish">Yes</a>
                <a href="#" id="closeButton">No</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="imgSection2">
    <div class="imgHeader"><%- include('../../partials/err') %></div>
    <div class="imgPreview">
      <img
        src="<%= imgs.img.url %>"
        alt="<%= imgs.img.filename %>"
        id="zoomableImage"
      />
    </div>
    <div class="footer">
      <div>
        <button id="zoomIn">
          <i class="fa-solid fa-magnifying-glass-plus"></i>
        </button>
        <input
          type="range"
          name="zoomInOut"
          id="zoomInOut"
          min="15"
          max="1000"
          value="15"
        />
        <button id="zoomOut">
          <i class="fa-solid fa-magnifying-glass-minus"></i>
        </button>
        <button id="resetBtn"><i class="fa-solid fa-expand"></i></button>
      </div>
    </div>
  </div>
</div>

<script>
  function downloadImage(url, filename) {
    fetch(url)
      .then((response) => response.blob())
      .then((blob) => {
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = filename;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      })
      .catch((err) => console.error("Error downloading the image:", err));
  }
</script>
