<title>Wallet inGallery</title>
<%- layout('layout/userBoilerplate') %>
<div class="bodyContainer" id="walletBody">
  <%-include('../../partials/sideBar') %>
  <div class="wallet">
    <div class="balanceSection">
      <div class="balance">
        <h1 id="walletHeader">My Wallet</h1>
        <div class="sec1">
          <div><%- include('../../partials/err') %></div>
          <h3 id="subHeader">Available Balance</h3>
          <h1>
            <img src="/assets/logo_usdt_2.svg" alt="" />
            <span id="usdtAmount">
              <%= wallet ?
              Number(wallet.usdtBalance.toFixed(4)).toLocaleString(): 'N/A' %>
              <span id="currency">USDT</span>
            </span>
          </h1>
          <h6>
            ~ <%= Number(wallet.usdtBalance.toFixed(4)).toLocaleString() %>
          </h6>
        </div>
        <div class="tabs">
          <div class="sec2">
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="assets-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#assets"
                  type="button"
                  role="tab"
                >
                  <i class="fa-solid fa-wallet"></i> Assets
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="withdraw-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#withdraw"
                  type="button"
                  role="tab"
                >
                  <i class="fa-solid fa-arrow-right-to-bracket"></i> Withdraw
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="convert-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#convert"
                  type="button"
                  role="tab"
                >
                  <i class="fa-solid fa-exchange-alt"></i> Convert
                </button>
              </li>
            </ul>

            <!-- Tabs Content -->
            <div class="tab-content" id="myTabContent">
              <!-- Assets Content -->
              <div
                class="tab-pane fade show active"
                id="assets"
                role="tabpanel"
              >
                <table>
                  <thead>
                    <tr>
                      <th>Asset</th>
                      <th>Holdings</th>
                      <th>Price</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>USDT</td>
                      <td>
                        $<%=
                        Number(wallet.usdtBalance.toFixed(2)).toLocaleString()
                        %>
                      </td>
                      <td>$1</td>
                      <td>
                        $<%=
                        Number(wallet.usdtBalance.toFixed(2)).toLocaleString()
                        %>
                      </td>
                    </tr>

                    <tr>
                      <td>GBPoints (GBP)</td>
                      <td>
                        <%=
                        Number(wallet.availableBalance.toFixed(2)).toLocaleString()
                        %>
                      </td>
                      <td>$<%= gbpRate %></td>
                      <td>
                        $<%= (wallet.availableBalance *
                        gbpRate).toLocaleString('en-US', {
                        minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Withdraw Content -->
              <div class="tab-pane fade" id="withdraw" role="tabpanel">
                <h3>Withdraw</h3>
                <p>Here you can withdraw your funds securely.</p>
              </div>

              <!-- Convert Content -->
              <div class="tab-pane fade" id="convert" role="tabpanel">
                <form
                  action="/user/wallet/convert-usdt"
                  method="POST"
                  class="swap-form"
                >
                  <div class="inputs">
                    <input
                      type="hidden"
                      name="userId"
                      placeholder="userId"
                      id="userId"
                      value="<%= wallet.user._id %>"
                    />
                    <p>
                      <label for="amount">GBP:</label>
                      <input
                        type="number"
                        id="amount"
                        name="amount"
                        min="1"
                        max="<%= wallet.availableBalance %>"
                      />
                    </p>
                    <div class="convertIcon">
                      <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>
                    <p>
                      <label for="get">USDT:</label>
                      <input type="number" id="get" name="get" readonly />
                    </p>
                  </div>

                  <p>
                    Conversion Rate: <strong>1 GBP = $<%= gbpRate%></strong>
                  </p>
                  <button type="submit" id="convertBtn">
                    <i class="fa-solid fa-rotate"></i> Convert
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="txsSec2">
        <h1 id="header">History</h1>
        <% if (transactions.length) {%>
        <div class="txs">
          <% for (let txs of transactions) { %>
          <div id="text">
            <i
              class="fa-solid <%= iconMap[txs.type] || 'fa-question-circle' %>"
            ></i>
            <div class="textArea">
              <h1><% if (txs.type) { %> <%= txs.type %> <% } %></h1>
              <h6>
                <%= moment(txs.createdAt).format("MMMM Do YYYY,h:mm A") %>
              </h6>
            </div>
          </div>
          <div id="valueSide">
            <h1>
              <% let sign = (txs.type === 'view-reward' || txs.type ===
              'download-reward' || txs.type === 'reward' || txs.type ===
              'deposit' || txs.type === 'conversion-credit') ? '+' : '-'; let
              currency = (txs.currency === 'points') ? 'GBP' : 'USDT'; %> <%=
              sign %><%= txs.amount %> <%= currency %>
            </h1>

            <h6
              class="<%= (txs.status === 'successful' || txs.status === 'confirmed') ? 'successful' : '' %>"
            >
              <%= txs.status %>
            </h6>
          </div>
          <% } %>
        </div>
        <% } else {%>
        <h1>No transaction is made!</h1>
        <% } %>
      </div>
    </div>
  </div>
</div>
