<title>Home - inGallery</title> <%- layout('layout/boilerplate') %>

<div class="searchContainer">
  <div class="text">
    <h1>Search for your <br /><span>Favourite</span> images</h1>
  </div>

  <% if (search.length) { %>
  <form action="/explore" id="searchForm" method="get" name="search">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search free Photos"
      value="<%= search %>"
    />
    <button type="submit" id="submitBtn">
      <i class="fa fa-search"></i>
    </button>
  </form>
  <% } else { %>
  <form action="/explore" id="searchForm" method="get" name="search">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search free Photos"
      value=""
    />
    <button type="submit" id="submitBtn">
      <i class="fa fa-search"></i>
    </button>
  </form>
  <% } %>
  <div class="category">
    <a
      href="/explore"
      class="<%= currentPage === '/explore' ? 'linkActive' : '' %>"
      >All</a
    >
    <a
      href="/explore?search=people"
      class="<%= currentPage === '/explore?search=people' ? 'linkActive' : '' %>"
      >People</a
    >
    <a
      href="/explore?search=nature"
      class="<%= currentPage === '/explore?search=nature' ? 'linkActive' : '' %>"
      >Nature</a
    >
    <a
      href="/explore?search=animal"
      class="<%= currentPage === '/explore?search=animal' ? 'linkActive' : '' %>"
      >Animal</a
    >
    <a
      href="/explore?search=wallpaper"
      class="<%= currentPage === '/explore?search=wallpaper' ? 'linkActive' : '' %>"
      >Wallpaper</a
    >
    <a
      href="/explore?search=background"
      class="<%= currentPage === '/explore?search=background' ? 'linkActive' : '' %>"
      >Background</a
    >
    <a
      href="/explore?search=technology"
      class="<%= currentPage === '/explore?search=technology' ? 'linkActive' : '' %>"
      >Technology</a
    >
    <a
      href="/explore?search=others"
      class="<%= currentPage === '/explore?search=others' ? 'linkActive' : '' %>"
      >Others</a
    >
  </div>
</div>

<div class="exploreImg">
  <div id="image-container" class="imgs">
    <% if (imgs.length) { %> <% imgs.forEach(function(img) { %>
    <div id="imgContainer">
      <a href="/explore/image/<%= img._id %>">
        <img src="<%= img.img.url %>" alt="<%= img.img.filename %>" />
      </a>
    </div>
    <% }); %> <% } else { %>
    <h1>No Image Found !!!</h1>
    <% } %>
  </div>
</div>
