<title>Home - inGallery</title> <%- layout('layout/boilerplate') %>

<div class="searchContainer">
  <div class="text">
    <h1>Search for your <span>Favourite</span> images</h1>
  </div>
  <form action="" id="searchForm">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search free Photos"
    />
    <button type="submit" id="submitBtn">
      <i class="fa fa-search"></i>
    </button>
  </form>
  <div class="category">
    <a
      href="/explore?search=people"
      class="<%= currentPage === '/explore?search=people' ? 'linkActive' : '' %>"
      >People</a
    >
    <a
      href="/explore?search=nature"
      class="<%= currentPage === '/explore?search=nature' ? 'linkActive' : '' %>"
      >Nature</a
    >
    <a
      href="/explore?search=animal"
      class="<%= currentPage === '/explore?search=animal' ? 'linkActive' : '' %>"
      >Animal</a
    >
    <a
      href="/explore?search=wallpaper"
      class="<%= currentPage === '/explore?search=wallpaper' ? 'linkActive' : '' %>"
      >Wallpaper</a
    >
    <a
      href="/explore?search=background"
      class="<%= currentPage === '/explore?search=background' ? 'linkActive' : '' %>"
      >Background</a
    >
    <a
      href="/explore?search=technology"
      class="<%= currentPage === '/explore?search=technology' ? 'linkActive' : '' %>"
      >Technology</a
    >
    <a
      href="/explore?search=others"
      class="<%= currentPage === '/explore?search=others' ? 'linkActive' : '' %>"
      >Others</a
    >
  </div>
</div>

<div class="exploreImg">
  <div id="image-container" class="imgs">
    <% if (imgs.length) {%> <% for (let img of imgs){ %>
    <div id="imgContainer">
      <a href="/explore/<%= img._id %>"
        ><img src="<%= img.img.url %>" alt="<%= img.img.filename %>"
      /></a>
    </div>
    <% } %> <% } %>
  </div>
</div>
