<nav>
  <div class="logo">
    <a href="/home"
      ><img
        src="/assets/images/inGallery_logo_black.png"
        alt="logo"
        class="logo"
    /></a>
    <div class="noDisplay">
      <label class="theme-switch">
        <input type="checkbox" class="mode-toggle" />
        <span class="slider">
          <i class="icon sun"><i class="fa-solid fa-sun"></i></i>
          <i class="icon moon"><i class="fa-solid fa-moon"></i></i>
        </span>
      </label>
      <% if (currentUser) {%>
      <div class="notification">
        <button id="noticeIcon" class="btn position-relative">
          <i class="fa-solid fa-bell"></i>
          <span id="notificationBadge">
            3
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
      <% } %>
      <div class="navMenu">
        <span><i class="fa-solid fa-bars"></i></span>
      </div>
    </div>
  </div>
  <div class="navLinks">
    <ul>
      <a href="/home"
        ><li id="<% if(currentPage === '/home'){ %>navActive<% } %>">
          Home
        </li></a
      >
      <a href="/explore"
        ><li id="<% if(currentPage === '/explore'){ %>navActive<% } %>">
          Explore
        </li></a
      >
      <% if(currentUser) {%>
      <a href="/user/dashboard"
        ><li
          id="<% if(currentPage === '/user/dashboard' || currentPage === '/user/upload' || currentPage === '/user/dashboard/:id'  || currentPage === '/user/dashboard/:id' || currentPage === '/user/favorite' || currentPage === '/user/publish' || currentPage === '/user/account' || currentPage === '/user/profile'){ %>navActive<% } %>"
        >
          Dashboard
        </li></a
      >
      <div class="hamborger">
        <div class="title">
          <a
            ><li>
              <button>
                <i class="fa-solid fa-user"></i>
                <div class="arrow">
                  <span><i class="fa-solid fa-chevron-up"></i></span>
                </div>
              </button></li
          ></a>
        </div>
        <div class="items">
          <div class="itemsContainer">
            <ul id="profileList">
              <div class="imgContainer">
                <img
                  src="<%= currentUser.profileImg%>"
                  alt="Profile Picture"
                  id="profileImg"
                />
              </div>
              <h1 id="header"><%= currentUser.username %></h1>
              <a href="#"><li><%= currentUser.email %></li></a>
              <a href="#"><li>Account Setting</li></a>
              <a href="/auth/logout"
                ><li>
                  <button id="logoutBtn">
                    <img
                      src="/assets/images/exit.png"
                      alt="exit-icon"
                      id="exitIcon"
                    />Logout
                  </button>
                </li></a
              >
            </ul>
          </div>
        </div>
      </div>
      <% } else {%>
      <div class="hamborger">
        <div class="title">
          <a>
            <button>
              <i class="fa-solid fa-user"></i>
              <div class="arrow">
                <span><i class="fa-solid fa-chevron-up"></i></span>
              </div>
            </button>
          </a>
        </div>
        <div class="items">
          <div class="itemsContainer">
            <a href="/auth/signup"
              ><li>
                <button><i class="fa-solid fa-plus"></i>Signup</button>
              </li></a
            >
            <a href="/auth/login"
              ><li>
                <button>
                  <i class="fa-solid fa-right-to-bracket"></i>Login
                </button>
              </li></a
            >
          </div>
        </div>
      </div>
      <% } %>
      <div class="trueDisplay">
        <label class="theme-switch">
          <input type="checkbox" class="mode-toggle" />
          <span class="slider">
            <i class="icon sun"><i class="fa-solid fa-sun"></i></i>
            <i class="icon moon"><i class="fa-solid fa-moon"></i></i>
          </span>
        </label>
      </div>
      <% if (currentUser) {%>
      <div class="notification">
        <button id="noticeIcon" class="btn position-relative noticeIcon">
          <i class="fa-solid fa-bell"></i>
          <span id="notificationBadge">
            3
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <div class="noticeBox" id="noticeBox">
          <div class="msgContainer">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item firstLink" role="presentation">
                <button
                  class="nav-link active"
                  id="personal-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#personal"
                  type="button"
                  role="tab"
                  aria-selected="true"
                >
                  <i class="fa-solid fa-user"></i>
                  <span id="notificationBadge">
                    3
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="communities-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#communities"
                  type="button"
                  role="tab"
                  aria-selected="false"
                >
                  <i class="fa-solid fa-users"></i>
                  <span id="notificationBadge">
                    3
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </li>
            </ul>

            <!-- Tabs Content -->
            <div class="tab-content" id="myTabContent">
              <!-- Annoucement Content -->
              <div
                class="tab-pane fade show active"
                id="personal"
                role="tabpanel"
              >
                <%personalMsg.forEach(msg => { %>
                <div class="msgContainer">
                  <h4><%= msg.body %></h4>
                  <h5>
                    <%= moment(msg.createdAt).format("MMMM Do YYYY, h:mm A") %>
                  </h5>
                </div>
                <% }) %>
              </div>

              <!-- Activity Content -->
              <div class="tab-pane fade" id="communities" role="tabpanel">
                <h1>communities</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </ul>
  </div>
</nav>
