<title>Wallet | inGallery</title>
<%- layout('layout/userBoilerplate') %>
<div class="bodyContainer" id="walletBody">
  <%-include('../partials/sideBar') %>
  <div class="wallet">
    <div class="balanceSection">
      <div class="balance">
        <div class="sec1">
          <div><%- include('../partials/err') %></div>
          <h3 id="subHeader">Available Balance</h3>
          <h1>
            <img src="/assets/svgs/logo_usdt_2.svg" alt="" />
            <span id="usdtAmount">
              <%= wallet ?
              Number(wallet.usdtBalance.toFixed(4)).toLocaleString(): 'N/A' %>
              <span id="currency">USDT</span>
            </span>
          </h1>
          <h6>
            ~ <%= Number(wallet.usdtBalance.toFixed(4)).toLocaleString() %>
          </h6>
        </div>
        <div class="tabs">
          <div class="sec2">
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="assets-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#assets"
                  type="button"
                  role="tab"
                >
                  <i class="fa-solid fa-wallet"></i> Assets
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="withdraw-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#withdraw"
                  type="button"
                  role="tab"
                >
                  <i class="fa-solid fa-arrow-right-to-bracket"></i> Withdraw
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="convert-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#convert"
                  type="button"
                  role="tab"
                >
                  <i class="fa-solid fa-exchange-alt"></i> Convert
                </button>
              </li>
            </ul>

            <!-- Tabs Content -->
            <div class="tab-content" id="myTabContent">
              <!-- Assets Content -->
              <div
                class="tab-pane fade show active"
                id="assets"
                role="tabpanel"
              >
                <table>
                  <thead>
                    <tr>
                      <th>Asset</th>
                      <th>Holdings</th>
                      <th>Price</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>USDT</td>
                      <td>
                        $<%=
                        Number(wallet.usdtBalance.toFixed(2)).toLocaleString()
                        %>
                      </td>
                      <td>$1</td>
                      <td>
                        $<%=
                        Number(wallet.usdtBalance.toFixed(2)).toLocaleString()
                        %>
                      </td>
                    </tr>

                    <tr>
                      <td>IGPoints (IGP)</td>
                      <td>
                        <%=
                        Number(wallet.availableBalance.toFixed(2)).toLocaleString()
                        %>
                      </td>
                      <td>$<%= IGPRate %></td>
                      <td>
                        $<%= (wallet.availableBalance *
                        IGPRate).toLocaleString('en-US', {
                        minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Withdraw Content -->
              <div class="tab-pane fade" id="withdraw" role="tabpanel">
                <form
                  action="/user/wallet/edit-wallet-address"
                  id="addressForm"
                  method="POST"
                >
                  <label for="walletAddress">Receiving Address:</label>
                  <div id="contents" class="formContents">
                    <input
                      type="text"
                      id="walletAddress"
                      name="walletAddress"
                      value="<%= wallet.usdtAddress %>"
                      placeholder="enter your BSC wallet address"
                      readonly="readonly"
                    />
                    <button type="button" id="wEditBtn">Edit</button>
                  </div>
                </form>
                <form
                  action="/user/wallet/withdraw"
                  method="POST"
                  class="swap-form"
                >
                  <div class="inputs">
                    <p>
                      <label for="usdtAmt"
                        >USDT Balance: $<%=
                        Number(wallet.usdtBalance.toFixed(2)).toLocaleString()
                        %></label
                      >
                      <input
                        type="number"
                        id="usdtAmnt"
                        name="usdtAmt"
                        step="0.0001"
                        min="0.0001"
                        max="<%=
                      wallet.usdtBalance
                      %>"
                        placeholder="enter the USDT amount you want to withdraw"
                      />
                    </p>
                    <p class="space">
                      <input
                        type="hidden"
                        name="userId"
                        placeholder="userId"
                        id="userId"
                        value="<%= wallet.user._id %>"
                        required
                      />
                    </p>
                    <p>
                      <label for="receiveAmt">You will Receive:</label>
                      <input
                        type="text"
                        id="receiveAmnt"
                        name="receiveAmt"
                        value="$0.00"
                        readonly
                      />
                    </p>
                  </div>
                  <div class="alert alert-info" role="alert" id="txsMsg">
                    <p>
                      <strong>NOTE:</strong> A <strong>5%</strong> transaction
                      fee is required for the transaction to be successful.
                    </p>
                  </div>
                  <button type="submit" id="convertBtn">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Withdraw
                  </button>
                </form>
              </div>

              <!-- Convert Content -->
              <div class="tab-pane fade" id="convert" role="tabpanel">
                <form
                  action="/user/wallet/convert-usdt"
                  method="POST"
                  class="swap-form"
                >
                  <div class="inputs">
                    <input
                      type="hidden"
                      name="userId"
                      placeholder="userId"
                      id="userId"
                      value="<%= wallet.user._id %>"
                    />
                    <p>
                      <label for="amount"
                        >IGP: <%=
                        Number(wallet.availableBalance.toFixed(2)).toLocaleString()
                        %>
                      </label>
                      <input
                        type="number"
                        id="amount"
                        name="amount"
                        min="1"
                        required
                        value="0"
                      />
                    </p>
                    <div class="convertIcon">
                      <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>
                    <p>
                      <label for="get"
                        >USDT: $<%=
                        Number(wallet.usdtBalance.toFixed(2)).toLocaleString()
                        %></label
                      >
                      <input
                        type="text"
                        id="get"
                        name="get"
                        readonly
                        value="$0.0000"
                      />
                    </p>
                  </div>

                  <p>
                    Conversion Rate: <strong>1 IGP = $<%= IGPRate%></strong>
                  </p>
                  <button type="submit" id="convertBtn">
                    <i class="fa-solid fa-rotate"></i> Convert
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="txsSec2">
        <div class="filter-sort mb-4" id="filterSort">
          <div class="header">
            <h1 id="header">History</h1>
          </div>
          <form
            id="filterSortForm"
            method="GET"
            action="/user/wallet"
            class="row g-3"
          >
            <div class="col-md-6" id="contents">
              <div class="input-group" id="contents">
                <span class="input-group-text">
                  <i class="fa-solid fa-filter"></i>
                </span>
                <select
                  name="transactionType"
                  id="transactionType"
                  class="form-select"
                >
                  <option value="">All</option>
                  <option value="withdrawal">Withdrawal</option>
                  <option value="conversion-credit">Conversion Credit</option>
                  <option value="conversion-deduction">
                    Conversion Deduction
                  </option>
                  <option value="view-reward">View Reward</option>
                  <option value="download-reward">Download Reward</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="txs" id="transactionList">
          <!-- Transactions will be populated here -->
          <% if (transactions.length) { %> <% transactions.sort((a, b) => new
          Date(b.createdAt) - new Date(a.createdAt)); %> <%
          transactions.forEach((txs) => { %>
          <div
            class="txItem"
            data-type="<%= txs.type %>"
            data-status="<%= txs.status %>"
          >
            <div id="text">
              <i
                class="fa-solid <%= iconMap[txs.type] || 'fa-question-circle' %>"
              ></i>
              <div class="textArea">
                <h1><%= txs.type %></h1>
                <h6>
                  <%= moment(txs.createdAt).format("MMMM Do YYYY, h:mm A") %>
                </h6>
              </div>
            </div>
            <div id="valueSide">
              <h1>
                <% let sign = (txs.type === 'view-reward' || txs.type ===
                'download-reward' || txs.type === 'reward' || txs.type ===
                'deposit' || txs.type === 'conversion-credit') ? '+' : '-'; %>
                <%= sign %><%= txs.amount %> <%= txs.currency === 'points' ?
                'IGP' : 'USDT' %>
              </h1>
              <h6
                id="TxsStatus"
                class="<%= (txs.status === 'successful' || txs.status === 'confirmed') ? 'status-successful' : (txs.status === 'pending' ? 'status-pending' : 'status-failed') %>"
              >
                <%= txs.status %>
              </h6>
            </div>
          </div>
          <% }) %> <% } else { %>
          <h1 id="noTxs">No transaction is made!</h1>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
